.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-calendar {
  width: 720px;
  background: rgb(199, 166, 243);
  max-width:360%;
  border: 1px solid #a0a096;
  line-height: 1.500em;
}
.react-calendar__navigation {
  .react-calendar__navigation__arrow {
      display: none;
      
  }

  .react-calendar__navigation__label {
      font-size: 32px;
      
  }
}

.react-calendar__tile {
  height: 70px;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 20px;
  color: rgb(15, 19, 70);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border:black;
}


.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #d5a2e9;
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  font-size: 18px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo{
  height: 10%;
  width: 10%;
  border-radius: 50%;
}

.choice-text{
  color: blue;
  size: 10%;
}

.app{
  min-height: 100vh;
  background-image: url(backround.jpeg);

}
.styled-botton{
  height: 10;
  background: blueviolet;
  border-radius: 30px;
  border: blueviolet;
  bottom: inherit;
  justify-items: inherit;
}
.button-right {
  border: none;
  font-size: 10px;
  position: absolute;
  right: 0px;

}
.button-crnter{
  display: flex;
  justify-content: center;
  background: blueviolet;
  border-radius: 30px;
  border:3px solid blueviolet;
  align-items: center;
  height: 200px;
  border:  green;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #86ae47;
  margin: 14px;

}
.myButton:hover {
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color:#a5cc52;
}
.myButton:active {
	position:relative;
	top:1px;
}

.helpbox{
 margin-top: 2cm;
margin-right: 20px;
 float: right;    
 
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


